.image1 {  background-image: url("3286.jpg");
    background-size: cover;
    height: 60vh;

}

.card1 {position: relative;
    border: 3px solid black;}

/* @media only screen and (max-width: 600px) {
    .card1 {
      color: lightblue;
    }
  } */

  @media only screen and (min-width: 580px) {
  .card1 {
    /* background-color:lightblue; */
    transform:translate(50px,50px);
   
  }
}